/*

Add styles or override variables from the theme here.

*/

/* Define primary and secondary colours for theme */

$primary: #1F3F7F;
$secondary: #38BAF4;
$info: #1d63ed;

/* Add additional spacers */

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6
);
